@import url(https://fonts.googleapis.com/css?family=Satisfy:400&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Roboto:400&subset=latin,latin-ext);

* {
  box-sizing: border-box;
  margin: 5%;
}

body {
  background-color: #c86868;
  font-family: "Roboto";
  color: #ffe4e1;
  text-align: center;
}

h1 {
  margin-top: 5vh;
  font-size: 6vh;
}

h2 {
  margin-top: 1vh;
  font-size: 4vh;
}

#button {
  background-color: #ffe4e1;
  border: 1px solid black;
  padding: 0.5% 2.5%;
  border-radius: 200px;
  font-size: 25px;
  transition: 0.3s;
}

#button:hover {
  background-color: #c86868;
  flood-color: #ffe4e1;
  border: 1px solid white;
  color: white;
}

#you {
  color: black;
  width: 50%;
  margin: auto;
  background-color: #ffe4e1;
  border-radius: 200px;
  padding: 1.5% 6%;
}

#ca {
  color: black;
  width: 50%;
  margin: 5% auto;
  background-color: #ffe4e1;
  border-radius: 200px;
  padding: 1.5% 6%;
}